@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  background: url(../images/body.png) repeat;
  background-size: 100%;
  /* navTop 部分 start */
  /* navTop 部分 end */
  /* headNav 部分  start */
  /* headNav 部分 end */
  /* banner 部分 start */
  /* banner 部分  end */
  /* dtk_mian 部分  start */
  /* dtk_mian 部分  end */
  /* footer 部分 start */
  /* footer 部分  end */
  /* 火箭部分 start   点击回到顶部 */
  /* 火箭部分  end   点击回到底部 */
}
body .navTop {
  width: 100%;
  height: 30px;
  background-color: #fff;
}
body .navTop .top {
  box-sizing: border-box;
  width: 1175px;
  height: 30px;
  margin: 0 auto;
  /* navTop_left  部分start */
  /* navTop_left 部分 end */
  /* navTop_right 部分 start */
  /* navTop_right 部分 end */
}
body .navTop .top .navTop_left {
  float: left;
  width: 330px;
  height: 100%;
  position: relative;
}
body .navTop .top .navTop_left #userLogin {
  font-size: 12px;
  color: #2b2c2d;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 12px;
}
body .navTop .top .navTop_left #mfRegister {
  font-size: 12px;
  color: #2b2c2d;
  line-height: 30px;
  margin-right: 16px;
}
body .navTop .top .navTop_left #qq {
  position: absolute;
  top: 5px;
  left: 135px;
}
body .navTop .top .navTop_left #wx {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 200px;
}
body .navTop .top .navTop_left #wx img {
  width: 20px;
  height: 20px;
}
body .navTop .top .navTop_left #wb {
  position: absolute;
  top: 5px;
  right: 0px;
}
body .navTop .top .navTop_right {
  float: right;
  width: 296px;
  height: 100%;
}
body .navTop .top .navTop_right li {
  float: left;
  font-size: 12px;
}
body .navTop .top .navTop_right li .setToTheHomepage {
  font-size: 12px;
  color: #757575;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
body .navTop .top .navTop_right li .joinTheCollection {
  font-size: 12px;
  color: #757575;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
body .navTop .top .navTop_right li .toContactMe {
  font-size: 12px;
  color: #8fa3c4;
  line-height: 30px;
  margin-left: 10px;
}
body .headNav {
  width: 100%;
  height: 96px;
  background-color: #fff;
}
body .headNav .head {
  width: 1175px;
  height: 96px;
  margin: 0 auto;
  position: relative;
}
body .headNav .head .headLogo {
  float: left;
  width: 200px;
  height: 96px;
}
body .headNav .head .headLogo h1 a img {
  width: 200px;
  height: 96px;
}
body .headNav .head .headSearch {
  position: absolute;
  top: 40px;
  left: 530px;
}
body .headNav .head .headSearch .headSearchText {
  float: left;
  box-sizing: border-box;
  width: 244px;
  height: 38px;
  background-color: #ffffff;
  border: 2px solid #f00582;
  outline: none;
  font-size: 12px;
  color: #6e6e6e;
  padding-left: 5px;
}
body .headNav .head .headSearch .headSearchSubmit {
  float: left;
  width: 90px;
  height: 38px;
  background-color: #f00582;
  outline: none;
  border: none;
  color: #fff;
  font-size: 12px;
}
body .headNav .head .headImgs {
  box-sizing: border-box;
  padding-top: 20px;
  width: 310px;
  height: 96px;
  float: right;
}
body .headNav .head .headImgs .headImgsOne {
  float: left;
  width: 56px;
  height: 65px;
  margin-left: 54px;
  background: url(../images/baozhang.png) no-repeat 0px 0px;
}
body .headNav .head .headImgs .headImgsTwo {
  float: left;
  width: 56px;
  height: 65px;
  margin-left: 36px;
  background: url(../images/baozhang.png) no-repeat 0px -78px;
}
body .headNav .head .headImgs .headImgsThree {
  float: left;
  width: 56px;
  height: 65px;
  margin-left: 36px;
  background: url(../images/baozhang.png) no-repeat 0px -154px;
}
body .banner {
  width: 100%;
  height: 38px;
  background-color: #f00582;
}
body .banner .bannerContent {
  width: 1175px;
  height: 38px;
  background-color: #f00582;
  margin: 0 auto;
}
body .banner .bannerContent .homePage {
  display: inline-block;
  width: 178px;
  height: 38px;
  line-height: 38px;
  background-color: #bd166f;
  text-align: center;
}
body .banner .bannerContent .homePage i {
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}
body .banner .bannerContent .homePage span {
  font-size: 16px;
  color: #fff;
}
body .banner .bannerContent .bannerContent_a {
  display: inline-block;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 38px;
  font-size: 16px;
  color: #ffffff;
}
body .banner .bannerContent .bannerContent_a:hover {
  height: 37px;
  background-color: #bd166f;
}
body .dtk_mian {
  /* 精品推荐图标  start  */
  /* 精品推荐图标  end */
  /* 精品推荐商品列表  start  */
  /* 精品推荐商品列表  end */
}
body .dtk_mian .detail-wrap {
  position: relative;
  background-color: #fff;
  width: 1135px;
  padding: 20px;
  margin: 0 auto;
  font: 12px/1.5 "Simsun";
}
body .dtk_mian .detail-wrap .nav-wrap {
  margin-bottom: 30px;
  display: block;
}
body .dtk_mian .detail-wrap .nav-wrap .text {
  font-size: 12px;
  color: #aaa;
}
body .dtk_mian .detail-wrap .nav-wrap .text .a {
  padding: 0 5px;
  color: #aaa;
}
body .dtk_mian .detail-wrap .detail-row {
  margin-bottom: 20px;
}
body .dtk_mian .detail-wrap .detail-row .img {
  float: left;
  width: 400px;
  height: 400px;
}
body .dtk_mian .detail-wrap .detail-row .img:hover {
  color: #333;
  text-decoration: none;
}
body .dtk_mian .detail-wrap .detail-row .img img {
  width: 400px;
  height: 400px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col {
  position: relative;
  float: left;
  width: 520px;
  height: 400px;
  margin-left: 50px;
  font-family: "Microsoft YaHei";
}
body .dtk_mian .detail-wrap .detail-row .detail-col a {
  cursor: pointer;
}
body .dtk_mian .detail-wrap .detail-row .detail-col a:hover {
  color: #333;
  text-decoration: none;
}
body .dtk_mian .detail-wrap .detail-row .detail-col a .tmall {
  background: url(../images/tmall.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-top: 7px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col a .title {
  float: left;
  width: 500px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  display: block;
  font-size: 18px;
  color: #424242;
  margin-left: 4px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .desc {
  width: 100%;
  line-height: 20px;
  margin-top: 10px;
  color: #5C5C5C;
  font-size: 14px;
  height: 60px;
  overflow: hidden;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .desc span {
  color: #ed145b;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .coupon-wrap {
  height: 30px;
  line-height: 30px;
  margin: 40px auto 20px;
  padding: 20px;
  position: relative;
  background: url(../images/show-price-bg.jpg) no-repeat 0 0;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .coupon-wrap .now-price {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #4e4e4e;
  margin-right: 20px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .coupon-wrap .now-price b {
  color: #ed145b;
  font-weight: normal;
  font-family: Arial;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .coupon-wrap .now-price b i {
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .coupon-wrap .org-price {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #acacac;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .coupon-wrap .org-price i {
  margin-left: 2px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text-wrap {
  height: 16px;
  line-height: 16px;
  padding: 10px 0;
  border-top: 1px dotted #C9C9C9;
  border-bottom: 1px dotted #C9C9C9;
  font-size: 12px;
  color: #8E8787;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text-wrap .text-wrap-span {
  border-right: 1px solid #E5DFDA;
  padding: 0 20px;
  margin-right: 20px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text-wrap .text-wrap-span i {
  margin: 0 5px;
  color: #ed145b;
  font-family: Arial;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text-wrap span {
  line-height: 16px;
  font-size: 12px;
  color: #8E8787;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text-wrap span i {
  margin: 0 5px;
  color: #ed145b;
  font-family: Arial;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .ehy-normal {
  height: 52px;
  position: relative;
  display: block;
  width: 150px;
  text-align: center;
  line-height: 52px;
  background: #ed145b;
  margin-top: 50px;
  padding-left: 60px;
  color: #ed145b;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .ehy-normal .buy-coupon {
  position: absolute;
  width: 60px;
  height: 52px;
  background: url(../images/cms_pc_img.png) -30px -129px no-repeat;
  left: 0;
  top: 0;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .ehy-normal .buy-coupon span {
  height: 18px;
  line-height: 25px;
  margin: 2px auto;
  display: block;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .ehy-normal .buy-coupon span b {
  font-weight: normal;
  font-size: 20px;
  font-family: "Microsoft Yahei";
}
body .dtk_mian .detail-wrap .detail-row .detail-col .ehy-normal .buy-coupon span b i {
  font-size: 12px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .ehy-normal a {
  color: white;
  display: block;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .goods-tit-type {
  position: absolute;
  right: 0;
  bottom: 38px;
  display: block;
  width: 150px;
  height: 16px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .goods-tit-type .goods-type {
  position: absolute;
  right: 0;
  top: 0;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .goods-tit-type .goods-type i {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  float: left;
  background: url(../images/cms_pc_img.png) 0 0 no-repeat;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .goods-tit-type .goods-type .tmall {
  background-position-x: -78px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .goods-tit-type .goods-type .you {
  background-position-x: -52px;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #b1b1b1;
  text-align: left;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text2 span {
  display: inline-block;
  vertical-align: middle;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text2 .bdshare {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  position: static;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text2 .bdshare .bdshare-button-style0-16 {
  zoom: 1;
}
body .dtk_mian .detail-wrap .detail-row .detail-col .text2 .bdshare .bdshare-button-style0-16 .bds_more {
  color: #333;
  float: left;
}
body .dtk_mian .detail-wrap .detail-row .pos-right {
  position: absolute;
  top: 0;
  right: 20px;
  width: 125px;
  padding: 26px 0 14px 0;
}
body .dtk_mian .detail-wrap .detail-row .pos-right p {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #C8C8C8;
}
body .dtk_mian .detail-wrap .detail-row .pos-right p span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 76px;
  height: 17px;
  line-height: 17px;
  margin-left: -38px;
  margin-top: -8px;
  text-align: center;
  font-size: 12px;
  background-color: #FFF;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-box {
  position: relative;
  width: 100%;
  height: 415px;
  margin-top: 20px;
  overflow: hidden;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-box .pos-goods-list {
  position: absolute;
  left: 0;
  width: 100%;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-box .pos-goods-list .pos-goods {
  position: relative;
  display: block;
  width: 100%;
  height: 125px;
  margin-bottom: 20px;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-box .pos-goods-list .pos-goods img {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #EFEFEF;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-box .pos-goods-list .pos-goods span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #2A2A2A;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-act {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-act a {
  float: left;
  width: 30px;
  height: 20px;
  vertical-align: middle;
  background-image: url(../images/arrow-topbot.png);
  background-repeat: no-repeat;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-act .bot-btn {
  margin-left: 15px;
  background-position: -30px 0;
}
body .dtk_mian .detail-wrap .detail-row .pos-right .pos-act .top-btn {
  margin-left: 25px;
  background-position: 0 0;
}
body .dtk_mian .jipin-wrap {
  width: 1186px;
  height: 24px;
  line-height: 24px;
  margin: 35px auto 20px;
  font-size: 20px;
  font-family: "Microsoft YaHei";
  color: #2D2D2D;
  display: block;
}
body .dtk_mian .jipin-wrap .jinpin-tit {
  float: left;
  background: url(../images/jptj.png) left center no-repeat;
  padding-left: 30px;
  letter-spacing: 2px;
  color: #454545;
}
body .dtk_mian .jipin-wrap .jinpin-txt {
  float: left;
  margin-left: 8px;
  font-size: 14px;
  padding-top: 4px;
  color: #999;
}
body .dtk_mian .goods-list {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
body .dtk_mian .goods-list ul {
  width: 1200px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  font: 12px Simsun;
}
body .dtk_mian .goods-list ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 18px;
  border: 1px solid #eee;
  height: 400px;
  width: 280px;
  margin-bottom: 20px;
  background: #fff;
  display: block;
  overflow: hidden;
}
body .dtk_mian .goods-list ul li .img {
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
  margin: 0;
  padding: 0;
}
body .dtk_mian .goods-list ul li .img img {
  border: none;
  max-width: 280px;
  max-height: 280px;
  vertical-align: middle;
}
body .dtk_mian .goods-list ul li .padding {
  padding: 18px 12px;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap {
  position: relative;
  height: 26px;
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .price {
  height: 26px;
  line-height: 18px;
  color: #ff0060;
  float: left;
  overflow: hidden;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .price b {
  font-size: 30px;
  padding-right: 2px;
  line-height: 28px;
  font-family: "Arial";
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .old-price {
  float: left;
  width: 50px;
  margin-left: -4px;
  text-decoration: line-through;
  height: 26px;
  font: 14px "Microsoft Yahei";
  color: #aaa;
  line-height: 40px;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .old-price i {
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .coupon {
  position: absolute;
  right: -10px;
  font: 12px "Simsun";
  text-align: center;
  background: #fff7fa;
  color: #ff0060;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  margin-left: 10px;
  margin: 0;
  border: dotted 1px #ff0060;
  border-left: none;
  border-right: none;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .coupon .quan-left {
  left: 0;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .coupon .quan-right {
  right: 0;
  background-position-x: -136px;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .coupon em {
  position: absolute;
  top: 0;
  width: 6px;
  height: 24px;
  background: white url(../images/cms_pc_img.png) -120px -79px no-repeat;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .coupon b {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  float: right;
  position: relative;
}
body .dtk_mian .goods-list ul li .padding .coupon-wrap .coupon b i {
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
body .dtk_mian .goods-list ul li .padding .title {
  height: 14px;
  overflow: hidden;
  display: block;
  line-height: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
}
body .dtk_mian .goods-list ul li .padding .title a {
  color: #444;
}
body .dtk_mian .goods-list ul li .padding .goods-num-type {
  display: block;
  position: relative;
  height: 16px;
  line-height: 16px;
}
body .dtk_mian .goods-list ul li .padding .goods-num-type .goods-num {
  color: #787878;
  margin-left: 100px;
}
body .dtk_mian .goods-list ul li .padding .goods-num-type .goods-num b {
  font-family: "Arial";
  font-size: 12px;
  font-weight: normal;
  color: #fc903d;
  padding: 0 3px;
}
body .dtk_mian .goods-list ul li .padding .goods-num-type .goods-type {
  position: absolute;
  right: 0;
  top: 0;
}
body .dtk_mian .goods-list ul li .padding .goods-num-type .goods-type i {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  float: left;
  background: url(../images/cms_pc_img.png) 0 0 no-repeat;
}
body .footer {
  background-color: #373737;
  height: 190px;
  width: 100%;
  border-top: 3px solid #ff3366;
}
body .footer .footer_wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
body .footer .footer_wrapper img {
  border: 0;
  margin-top: 50px;
}
body .footer .footer_wrapper .author {
  position: absolute;
  top: 67px;
  left: 990px;
  color: #FFFFFF;
  font-size: 18px;
}
body .footer .footer_wrapper .text {
  color: #a2a2a2;
  font-size: 16px;
  margin-top: 33px;
}
body .toTop {
  position: fixed;
  right: 70px;
  bottom: 70px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #CCCCCC;
  border-radius: 50px;
  color: #858585;
  width: 50px;
  height: 50px;
  font-size: 36px;
  cursor: pointer;
  background-color: #fff;
  display: none;
}
body .toTop i {
  font-size: 30px;
}
body .toTop:hover i {
  color: #ea2a60;
}