@charset "utf-8";

html,
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
a,
form,
input,
select,
option,
label,
textarea,
span,
img,
table,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
i,
em,
b,
strong,
img,
table,
tr,
td,
article {
    margin: 0;
    padding: 0;
}
ul,
ol,
li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

/* 推荐使用的清除浮动的方法 */
.clearFix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}


/* 移动端必须写这个 */
html,body {
    height: 100%;
}